---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const pageTitle = "About Me";

const identity = {
  firstName: "Alok",
  country: "India",
  occupation: "Frontend Web Developer",
  hobbies: ["Reading", "Cooking", "Working-out"],
  plans: "Full-stack web developer",
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Header />

    <main>
      <section>
        <h1>{pageTitle}</h1>
        <h2>Welcome to My Astro Journey!</h2>
        <p>
          I'm so excited to share a little about myself with you. This page is a
          part of my learning journey, where I'm building my very own website
          using Astro.
        </p>
        <p>
          As I go along with this tutorial, this site will evolve, so feel free
          to check in as I continue to build and improve it!
        </p>
      </section>
      <section>
        <p>Here are a few fun facts about me:</p>
        <ul>
          <li>Hi there! I'm {identity.firstName}.</li>
          <li>
            I'm currently based in {identity.country}, and I work as a {
              identity.occupation
            }. My dream is to level up and become a {identity.plans}!
          </li>
          {
            identity.hobbies.length >= 2 && (
              <li>
                When I'm not coding, I love to spend my time doing a few things
                that really energize me: {identity.hobbies[0]} and{" "}
                {identity.hobbies[1]}.
              </li>
            )
          }
        </ul>
      </section>
      <section>
        <p>Some of the things I'm skilled at:</p>
        <ul>
          {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        {happy && <p>I am happy to be learning Astro!</p>}
        {finished && <p>I finished this tutorial!</p>}
        {
          goal === 3 ? (
            <p>My goal is to finish in 3 days.</p>
          ) : (
            <p>My goal is not 3 days.</p>
          )
        }
      </section>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
